/**************** Variables ****************/
$font-family: 'Poppins', sans-serif;
$primary-color: #e50914;
$dark-color: #141414;
$light-color: #f4f4f4;
$white-color: #fff;
$black-color: #000;
$darkgray-color: #222;
$body-color: #000;
$nav-color: #5d4954;
$link-color: rgb(226,226,226);







